
@import 'abstracts/_functions';
@import 'abstracts/_mixins';
@import 'abstracts/_variables';

@import 'base/_base';
@import 'base/_animations';
@import 'base/_typography';
@import 'base/_utilities';

@import 'components/_button';

@import 'layout/_header';

@import 'pages/_home';





/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* Basic Reset */






.heading-primary {
    color: #fff;
    text-transform: uppercase;

    /* Fix animation shaking */
    backface-visibility: hidden;
    margin-bottom: 6rem;
}

.heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 900;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;

    animation: moveInRight 1s ease-out;
}



